@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #737373;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.4285714286;
  letter-spacing: 0.0125rem;
  background-color: #FAFAFA;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.425;
  color: #252B42;
}

@supports (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6118421053rem  +  1.3157894737vw , 2.5rem )) {
  .title {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.subtitle {
  font-weight: 700;
  line-height: 1.3333333333;
  color: #252B42;
  letter-spacing: 0.00625rem;
}

@supports (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5rem )) {
  .subtitle {
    font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5rem )) {
  .subtitle {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 47.5);
  }
}

.subtitle_white {
  color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}

@supports ((-moz-column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem )) or (column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem ))) {
  .header__body {
    -webkit-column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem );
       -moz-column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem );
            column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem )) or (column-gap: clamp( 1.875rem , -0.7565789474rem  +  13.1578947368vw , 8.125rem ))) {
  .header__body {
    -webkit-column-gap: calc(1.875rem + 6.25 * (100vw - 20rem) / 47.5);
       -moz-column-gap: calc(1.875rem + 6.25 * (100vw - 20rem) / 47.5);
            column-gap: calc(1.875rem + 6.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (min-height: clamp( 3.125rem , 1.6776315789rem  +  7.2368421053vw , 6.5625rem )) {
  .header__body {
    min-height: clamp( 3.125rem , 1.6776315789rem  +  7.2368421053vw , 6.5625rem );
  }
}

@supports not (min-height: clamp( 3.125rem , 1.6776315789rem  +  7.2368421053vw , 6.5625rem )) {
  .header__body {
    min-height: calc(3.125rem + 3.4375 * (100vw - 20rem) / 47.5);
  }
}

.header__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.00625rem;
  color: #252B42;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.menu__link {
  font-weight: 600;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.no-webp .finance{
  background-image: url("../img/finance-bg.jpg"); }

.finance {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

@supports (padding-top: clamp( 6.25rem , 5.1973684211rem  +  5.2631578947vw , 8.75rem )) {
  .finance {
    padding-top: clamp( 6.25rem , 5.1973684211rem  +  5.2631578947vw , 8.75rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 5.1973684211rem  +  5.2631578947vw , 8.75rem )) {
  .finance {
    padding-top: calc(6.25rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.3355263158rem  +  3.9473684211vw , 5rem )) {
  .finance {
    margin-bottom: clamp( 3.125rem , 2.3355263158rem  +  3.9473684211vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.3355263158rem  +  3.9473684211vw , 5rem )) {
  .finance {
    margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem) / 47.5);
  }
}

.finance__body {
  max-width: 31.875rem;
  width: 100%;
}

@supports (margin-bottom: clamp( 5rem , -4.0707710012rem  +  13.8089758343vw , 12.5rem )) {
  .finance__body {
    margin-bottom: clamp( 5rem , -4.0707710012rem  +  13.8089758343vw , 12.5rem );
  }
}

@supports not (margin-bottom: clamp( 5rem , -4.0707710012rem  +  13.8089758343vw , 12.5rem )) {
  .finance__body {
    margin-bottom: calc(5rem + 7.5 * (100vw - 65.6875rem) / 54.3125);
  }
}

.finance__title {
  font-weight: 800;
  color: #252B42;
  line-height: 1.3793103448;
  margin: 0rem 0rem 2.1875rem 0rem;
}

@supports (font-size: clamp( 2.625rem , 2.2039473684rem  +  2.1052631579vw , 3.625rem )) {
  .finance__title {
    font-size: clamp( 2.625rem , 2.2039473684rem  +  2.1052631579vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 2.2039473684rem  +  2.1052631579vw , 3.625rem )) {
  .finance__title {
    font-size: calc(2.625rem + 1 * (100vw - 20rem) / 47.5);
  }
}

.finance__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 23.75rem;
  width: 100%;
  margin: 0rem 0rem 2.1875rem 0rem;
}

.finance__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.finance__btn {
  padding: 0.625rem 2.25rem;
  font-weight: 700;
  color: #0D5C63;
  border: 0.0625rem solid #0D5C63;
  border-radius: 2.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.finance__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-finance {
  max-width: 20.5rem;
  width: 100%;
  background-color: #fff;
  padding: 2.1875rem 0rem 2.1875rem 2.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-finance svg {
  width: 3rem;
  height: 3rem;
  margin: 0rem 0rem 0.625rem 0rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-finance__title {
  max-width: 14rem;
  width: 100%;
  margin: 0rem 0rem 0.625rem 0rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-finance__text {
  max-width: 14rem;
  width: 100%;
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .designing {
    margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .designing {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

.designing__title {
  text-align: center;
  margin: 0rem 0rem 0.625rem 0rem;
}

.designing__text {
  max-width: 32.1875rem;
  width: 100%;
  margin: 0 auto 3.125rem;
  text-align: center;
  font-weight: 500;
}

.designing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-designing {
  text-align: center;
  width: 15rem;
  background-color: #fff;
  padding: 1.875rem 0rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-designing__image {
  margin: 0rem 0rem 0.625rem 0rem;
}

.item-designing__num {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.425;
  color: #252B42;
  margin: 0rem 0rem 0.625rem 0rem;
}

.item-designing__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
}

@supports (padding-top: clamp( 3.75rem , 2.0394736842rem  +  8.5526315789vw , 7.8125rem )) {
  .practice {
    padding-top: clamp( 3.75rem , 2.0394736842rem  +  8.5526315789vw , 7.8125rem );
  }
}

@supports not (padding-top: clamp( 3.75rem , 2.0394736842rem  +  8.5526315789vw , 7.8125rem )) {
  .practice {
    padding-top: calc(3.75rem + 4.0625 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .practice {
    margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .practice {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

.practice__title {
  text-align: center;
  margin: 0rem 0rem 0.625rem 0rem;
}

.practice__text {
  font-weight: 500;
  margin: 0rem auto 2.8125rem;
  max-width: 29.375rem;
  width: 100%;
  text-align: center;
}

.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-practice {
  width: 15rem;
  background-color: #fff;
}

.item-practice__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  color: #252B42;
  margin: 0rem 0rem 0.9375rem 0rem;
  padding: 1.875rem 1.875rem 0rem 1.875rem;
}

.item-practice__text {
  padding: 0rem 1.875rem 0rem 1.875rem;
  font-weight: 500;
  margin: 0rem 0rem 1.875rem 0rem;
  min-height: 6.25rem;
}

.item-practice__image {
  padding: 0rem 0.25rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.who {
  background-color: #fff;
}

@supports (padding-top: clamp( 3.125rem , 1.8092105263rem  +  6.5789473684vw , 6.25rem )) {
  .who {
    padding-top: clamp( 3.125rem , 1.8092105263rem  +  6.5789473684vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.8092105263rem  +  6.5789473684vw , 6.25rem )) {
  .who {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.8881578947rem  +  11.1842105263vw , 8.4375rem )) {
  .who {
    padding-bottom: clamp( 3.125rem , 0.8881578947rem  +  11.1842105263vw , 8.4375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.8881578947rem  +  11.1842105263vw , 8.4375rem )) {
  .who {
    padding-bottom: calc(3.125rem + 5.3125 * (100vw - 20rem) / 47.5);
  }
}

.who__title {
  text-align: center;
  margin: 0rem 0rem 0.9375rem 0rem;
}

.who__text {
  max-width: 32.1875rem;
  width: 100%;
  text-align: center;
  margin: 0 auto 6.25rem;
  font-weight: 500;
}

.who__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem )) or (column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem ))) {
  .who__body {
    -webkit-column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem );
       -moz-column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem );
            column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem )) or (column-gap: clamp( 1.25rem , -5.0837594187rem  +  10.2260495156vw , 7.1875rem ))) {
  .who__body {
    -webkit-column-gap: calc(1.25rem + 5.9375 * (100vw - 61.9375rem) / 58.0625);
       -moz-column-gap: calc(1.25rem + 5.9375 * (100vw - 61.9375rem) / 58.0625);
            column-gap: calc(1.25rem + 5.9375 * (100vw - 61.9375rem) / 58.0625);
  }
}

.who__video {
  max-width: 37.5rem;
  width: 100%;
  position: relative;
  padding-bottom: 33%;
}

.who__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-who__title {
  margin: 0rem 0rem 0.625rem 0rem;
}

.info-who__text {
  font-weight: 500;
  margin: 0rem 0rem 3.125rem 0rem;
}

.info-who__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.info-who__item:not(:last-child) {
  margin: 0rem 0rem 1.875rem 0rem;
}

.info-who__icon {
  width: 2rem;
  height: 2rem;
}

.info-who__subtitle {
  color: #252B42;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0rem 0rem 0.3125rem 0rem;
}

.info-who__subtext {
  font-weight: 600;
}

.intro {
  padding: 0rem 0rem 1.25rem 0rem;
  position: relative;
  z-index: 2;
}

@supports (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .intro {
    margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .intro {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5rem;
  background-color: #252B42;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.intro__body {
  padding: 3.125rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscr-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875rem 3.125rem;
  background-color: #17213C;
  border-radius: 0.125rem;
  margin: 0rem 1.875rem;
  position: relative;
  z-index: 2;
}

.subscr-intro__title {
  color: #fff;
  width: 16.5625rem;
}

.subscr-intro__form {
  max-width: 28.125rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscr-intro__input {
  width: 100%;
  background-color: #fff;
  border: 0.0625rem solid #FF7B47;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
  border-right: 0rem;
}

.subscr-intro__input::-webkit-input-placeholder {
  line-height: 2;
}

.subscr-intro__input::-moz-placeholder {
  line-height: 2;
}

.subscr-intro__input:-ms-input-placeholder {
  line-height: 2;
}

.subscr-intro__input::-ms-input-placeholder {
  line-height: 2;
}

.subscr-intro__input::placeholder {
  line-height: 2;
}

.subscr-intro__input:focus {
  color: #252B42;
}

.subscr-intro__btn {
  background-color: #FF7B47;
  color: #fff;
  padding: 0.9375rem 1.4375rem;
  border: 0.0625rem solid #FF7B47;
  border-radius: 0 0.3125rem 0.3125rem 0;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

@supports (margin-bottom: clamp( 3.125rem , 0.4934210526rem  +  13.1578947368vw , 9.375rem )) {
  .get {
    margin-bottom: clamp( 3.125rem , 0.4934210526rem  +  13.1578947368vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.4934210526rem  +  13.1578947368vw , 9.375rem )) {
  .get {
    margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 47.5);
  }
}

.get__title {
  text-align: center;
  margin: 0rem 0rem 0.625rem 0rem;
}

.get__text {
  max-width: 29.375rem;
  width: 100%;
  text-align: center;
  margin: 0 auto 5rem;
}

.get__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.item-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 3.3125rem;
  background-color: #fff;
}

.item-get_blue {
  background-color: #252B42;
  padding: 5rem 3.3125rem;
}

.item-get__imagebox {
  margin: 0rem 0rem 0.9375rem 0rem;
}

.item-get__link {
  font-weight: 600;
  line-height: 1.7142857143;
  color: #252B42;
}

.item-get__link_blue {
  color: #fff;
}

.item-get__title {
  margin: 0.9375rem 0rem 0.9375rem 0rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  color: #252B42;
}

.item-get__title_blue {
  color: #fff;
}

.item-get__btn {
  font-weight: 600;
  line-height: 1.7142857143;
  color: #FF7B47;
  border: 0.0625rem solid #FF7B47;
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-get__btn_blue {
  border: 0.0625rem solid #fff;
  color: #fff;
}

.consulting {
  background-color: #fff;
  padding: 2.5rem 0rem;
}

.consulting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.consulting__title {
  margin: 0rem 0rem 0.625rem 0rem;
}

.consulting__text {
  font-weight: 500;
}

.consulting__btn {
  font-weight: 700;
  line-height: 2;
  color: #FF7B47;
  border: 0.0625rem solid #FF7B47;
  border-radius: 0.3125rem;
  padding: 0.9375rem 2.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__top {
  background-color: #17213C;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125rem 0rem;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom {
  background-color: #fff;
}

.item-footer {
  width: 10.3125rem;
}

.item-footer_big {
  width: 15.625rem;
}

.item-footer__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00625rem;
  margin: 0rem 0rem 1.25rem 0rem;
}

.item-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.item-footer__item:not(:last-child) {
  margin: 0rem 0rem 0.625rem 0rem;
}

.item-footer__link {
  font-weight: 600;
  line-height: 1.7142857143;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5625rem 0rem;
}

.inner-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.inner-footer__icon {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 67.5em) {
  .finance__body {
    margin: 0rem 0rem 2.5rem 0rem;
  }
}

@media (max-width: 65.6875em) {
  .finance__body {
    margin-bottom: inherit;
  }
}

@media (max-width: 61.9375em) {
  .who__body {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 61.99875em) {
  .who__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .who__video {
    margin: 0 auto 3.125rem;
    padding-bottom: 43%;
  }

  .subscr-intro {
    margin: 0rem 0rem 0rem 0rem;
    padding: 1.875rem;
  }

  .item-get_blue {
    padding: 3.125rem 3.3125rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__list {
    padding: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .menu__link {
    color: #0D5C63;
  }

  .who__video {
    padding-bottom: 53%;
  }

  .subscr-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscr-intro__title {
    width: 100%;
    margin: 0rem 0rem 1.5625rem 0rem;
  }

  .subscr-intro__form {
    max-width: 100%;
  }

  .consulting__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .consulting__info {
    text-align: center;
  }
}

@media (max-width: 29.99875em) {
  .header {
    margin: 0 auto;
    width: 18.125rem;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }

  .finance__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.5625rem;
  }

  .who__video {
    padding-bottom: 73%;
  }

  .subscr-intro__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscr-intro__input {
    border-right: 0.0625rem solid #FF7B47;
    border-radius: 0.3125rem;
    margin: 0rem 0rem 1.5625rem 0rem;
  }

  .subscr-intro__btn {
    border-radius: 0.3125rem;
  }

  .item-footer {
    width: 100%;
  }

  .item-footer_big {
    width: 100%;
  }

  .inner-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .inner-footer__copy {
    margin: 0rem 0rem 1.5625rem 0rem;
    text-align: center;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF7B47;
  }

  .finance__btn:hover {
    color: #fff;
    border: 0.0625rem solid #FF7B47;
    background-color: #FF7B47;
  }

  .item-finance:hover {
    background-color: #0D5C63;
  }

  .item-finance:hover .item-finance__text,
  .item-finance:hover .item-finance__title {
    color: #fff;
  }

  .item-finance:hover svg {
    fill: #fff;
  }

  .item-designing:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-practice__image:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .subscr-intro__btn:hover {
    background-color: #ff692e;
  }

  .item-get__link:hover {
    text-decoration: underline;
  }

  .item-get__btn:hover {
    border: 0.0625rem solid #252B42;
    color: #252B42;
  }

  .item-get__btn_blue:hover {
    color: #FF7B47;
    border: 0.0625rem solid #FF7B47;
  }

  .consulting__btn:hover {
    color: #252B42;
    border: 0.0625rem solid #252B42;
  }

  .item-footer__link:hover {
    color: #FF7B47;
  }

  .inner-footer__icon:hover {
    -webkit-transform: translateY(-0.3125rem);
        -ms-transform: translateY(-0.3125rem);
            transform: translateY(-0.3125rem);
  }
}

.webp .finance{ background-image: url(../img/finance-bg.webp); }